@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width : 100vw;
    background-color: rgb(0, 0, 0);
}

body {
    background: url('../imagens/fundo-preto.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#cel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 750px;
    width: 640px;
    background-color: lightseagreen;

    background: url('../imagens/iphone15-2.png');
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 64px;
    left: 187px;
    height: 520px;
    width: 247px;
    transform: perspective(1000px) rotateZ(354deg) rotateY(26deg) rotateX(3deg) rotate3d(1, 1, 1, 4deg);
    border-radius: 20px;
}